<div class="d-flex justify-content-center pt-5">
  <mat-stepper linear #stepper (selectionChange)="selectionChange($event)">
    <form [formGroup]="personalForm">
      <mat-step>
        <ng-template matStepLabel>Fill out your Firstname</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="firstname" placeholder="First name" required />
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your Lastname</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastname" placeholder="Lastname" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your Email</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="test@gmail.com" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Gender</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Select Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="d-block mb-2">
          <p>Age</p>
          <mat-radio-group class="d-flex flex-column" aria-label="Select age range" formControlName="age">
            <mat-radio-button *ngFor="let age of ageCollection" class="mb-1" value="{{age}}">{{age}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="d-block mb-2">
          <p>Country:</p>
          <mat-checkbox>Check all</mat-checkbox>
          <div class="d-block" *ngFor="let country of countryOption index as i">
            <mat-checkbox [checked]="checked[i]" (change)="onChange($event, country)"> {{country}} </mat-checkbox>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <div class="d-block mb-2">
          <p>Spicy</p>
          <mat-slider class="w-100" formControlName="spicy" thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="0" max="100" aria-label="units"></mat-slider>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <p>Firstname: {{firstname}}</p>
        <p>Lastname: {{lastname}}</p>
        <p>Email: {{email}}</p>
        <p>Gender: {{gender}}</p>
        <p>Age: {{age}}</p>
        <p>Country:<br> <span class="ml-5" *ngFor="let country of country">{{country}}<br></span></p>
        <p>Spicy: {{spicy}}</p>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="stepper.reset(); resetForm()">Reset</button>
        </div>
      </mat-step>
    </form>
  </mat-stepper>
</div>
